:root {
    --fontTxt: "Montserrat", sans-serif;
    --txtClr: rgba(22, 22, 22, 0.85);
    --h1BgClr: rgba(39, 77, 78, 0.7);
    --h1Clr: #dadada;
    --bgClr: rgba(255, 255, 255, 0.75);
    --linear1: #ffdde1;
    --linear2: #ee9ca7;
    --aHoverClr: rgba(22, 74, 74, 0.53);
}

body {
    color: var(--txtClr);
    font-family: var(--fontTxt);
    margin: 0;
}

footer {
    font-size: 13px;
}

.main {
    /* fallback for old browsers */
    background: var(--BgClr);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(65deg, var(--linear1), var(--linear2));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(65deg, var(--linear1), var(--linear2));
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.main .main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100vw;
}

.main .main-container .main-container-inner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    /* min-width: 400px; */
    position: relative;
}

.main .main-container .main-container-inner ._inner-container {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* flex-basis: 100%; */
    padding: 15px;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    .main .main-container .main-container-inner {
        box-sizing: border-box;
        display: flex;
        margin: 0;
        padding: 2px;
        overflow: hidden;
        position: relative;
    }

    .main .main-container .main-container-inner ._inner-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2px;
        overflow: hidden;
        width: 100%;
        z-index: 2;
    }
}

/*MAIN SECTION(Name + Tasks + Input for creating a new task of current list in use) styles*/
main.mainSection {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    height: 100%;
    /* min-width: 450px; */
}

main.mainSection div.mainSection-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
    height: 100%;
}

main.mainSection div.mainSection-container .mainSection-container_h1 {
    background-color: var(--h1BgClr);
    border-radius: 8px;
    color: var(--h1Clr);
    padding: 12px;
    text-align: center;
}

main.mainSection div.mainSection-container div.mainSection-container_box {
    background: var(--bgClr);
    border-radius: 8px;
    margin: 20px 0;
    padding: 0;
}

main.mainSection div.mainSection-container div.mainSection-container_box div._box-task {
    border-bottom: 1px solid var(--h1Clr);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 60px;
    padding: 0 10px;
    /* min-width: 100%; */
}

main.mainSection div.mainSection-container div.mainSection-container_box div._box-task form._box-task-form input:checked+p {
    text-decoration: line-through;
    text-decoration-color: var(--h1BgClr);
}

main.mainSection div.mainSection-container div.mainSection-container_box div._box-task form._box-task-form input[type="checkbox"] {
    margin: 10px;
}

main.mainSection div.mainSection-container div.mainSection-container_box div._box-task form._box-task-form p {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 5px 6px;
}

main.mainSection div.mainSection-container .mainSection-container_form {
    display: flex;
}

main.mainSection div.mainSection-container .mainSection-container_form input[type="text"] {
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400;
    height: 60px;
    flex: 1 1 69%;
    padding: 0 12px;
    text-align: center;
}

main.mainSection div.mainSection-container .mainSection-container_form input[type="text"]:focus {
    box-shadow: inset 0 -2px 0 0 var(--h1BgClr);
    outline: none;
}

::placeholder {
    color: var(--txtClr);
    opacity: 1;
}

main.mainSection div.mainSection-container .mainSection-container_form div.spacer {
    min-width: 50px;
}

main.mainSection div.mainSection-container .mainSection-container_form button {
    background-color: var(--h1BgClr);
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 50%;
    color: var(--h1Clr);
    flex: flex;
    font-size: 30px;
    min-height: 50px;
    margin: 5px 10px;
    text-align: center;
    width: 50px;
}

/*END OF MAIN SECTION(Name + Tasks + Input for creating a new task of current list in use) styles*/


/*MY ACTIVE LISTS styles*/
._inner-container_activeLists {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 126px 0 36px;
    height: 100%;
    min-width: 90px;
}

._activeLists-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 90px;
}

._activeLists-container-title {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    color: var(--h1BgClr);
    /* flex: 1 1 auto; */
}

._activeLists-container-title p {
    display: flex;
    font-weight: 600;
    margin-bottom: 5px;
    /* padding-top: 16px; */
}

._activeLists-container-listNames {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0;
}

._activeLists-container-listNames-li {
    list-style: none;
}

._activeLists-container-listNames-li_a {
    border-radius: 2px;
    color: var(--h1BgClr);
    font-size: 0.85rem;
    font-weight: 400;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--aHoverClr);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
}

._activeLists-container-listNames-li_a:hover {
    color: var(--linear2);
    font-weight: 400;
    box-shadow: inset 100px 0 0 0 var(--aHoverClr);
    border-radius: 4px;
}

/*END OF MY ACTIVE LISTS styles*/


/*MEDIA QUERIES - up to 600px breakpoint*/
@media screen and (max-width: 600px) {
    main.mainSection {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0 10px;
        height: 100%;
        /* min-width: 380px; */
    }

    main.mainSection div.mainSection-container {
        padding: 6px 4px;
        overflow: hidden;
        width: 100%;
        min-width: 320px;
        max-width: 380px;
    }

    main.mainSection div.mainSection-container .mainSection-container_h1 {
        padding: 6px 0;
    }

    main.mainSection div.mainSection-container div.mainSection-container_box div._box-task {
        flex-wrap: wrap;
        min-height: 50px;
        padding: 0 6px;
        width: 100%;
    }

    main.mainSection div.mainSection-container div.mainSection-container_box {
        margin: 10px 0;
        height: 100%;
    }

    main.mainSection div.mainSection-container div.mainSection-container_box div._box-task {
        min-height: 50px;
        width: 100%;
    }

    main.mainSection div.mainSection-container div.mainSection-container_box div._box-task form._box-task-form input[type="checkbox"] {
        margin: 5px;
    }

    main.mainSection div.mainSection-container div.mainSection-container_box div._box-task form._box-task-form p {
        font-size: 0.9rem;
    }

    main.mainSection div.mainSection-container .mainSection-container_form {
        max-height: 44px;
    }

    main.mainSection div.mainSection-container .mainSection-container_form input[type="text"] {
        flex: 1 1 auto;
        font-size: 1rem;
        height: 50px;
        padding: 0 12px;
    }

    main.mainSection div.mainSection-container .mainSection-container_form div.spacer {
        min-width: 40px;
    }

    main.mainSection div.mainSection-container .mainSection-container_form button {
        display: flex;
        font-size: 1.8rem;
        justify-content: center;
        align-items: center;
        margin: 2px 6px;
        height: 40px;
        min-height: 40px;
        padding: 0 4px;
        text-align: center;
        width: 40px;
    }

    ._inner-container_activeLists {
        padding: 16px 4px 36px;
        align-items: center;
        width: 100%;
    }

    ._activeLists-container {
        justify-content: center;
        min-width: 320px;
        max-width: 380px;
        overflow: hidden;
        padding: 8px 4px;
        width: 100%;
    }

    ._activeLists-container-title {
        font-size: 0.9rem;
    }

    ._activeLists-container-title p {
        /* align-self: center; */
        margin-bottom: 0;
    }

    ._activeLists-container-listNames {
        flex-direction: row;
    }

    ._activeLists-container-listNames-li {
        padding-right: 10px;
    }
}

/*MEDIA QUERIES - up to 320px breakpoint*/
@media screen and (max-width: 320px) {}